@import '@/common/css/common.landscape.scss';
/*-------------------------------------------------------- 默认css 针对假横屏（竖屏横过来看） --------------------------------------------------------------*/
body{ 
  background-color: #000;
  section{
    position: absolute; left: 0; top: 0; width: 1206px; height: 750px;
  }
}