html{
  body{
    article {
      background-image: url(../../images/share.jpg);
      font-family: SketchRockwell;
    }
  }
}

@font-face {
  font-family: SketchRockwell; /*这里是说明调用来的字体名字*/
  src: url(../../font/FZXBSJW.TTF); 
}